@using Microsoft.Extensions.Options
@using Phoenix.Configuration
@model PostsResult
@inject IOptions<AppSettings> AppSettings
<div class="content-header">
    <h2>@ViewBag.Category</h2>
</div>
<hr>
@Html.Partial("_Loop", Model)

