@using Microsoft.Extensions.Options
@using Phoenix.Configuration
@model PostsResult
@inject IOptions<AppSettings> AppSettings
@{
    ViewBag.Tag = ViewContext.RouteData.Values["tag"];
}
<section class="col-lg-8 blog-content">
    <div class="content-header">
        <h2>TAG='@ViewBag.Tag'</h2>
    </div>
    <hr>

    @Html.Partial("_Loop", Model)
</section>

