

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link rel="contents" title="Archive" href="/indigo/archive" />
    <link rel="start" title="Indigo Theme" href="/indigo/" />
    <link type="application/rsd+xml" rel="edituri" title="RSD" href="http://francisdotbio.com/indigo/rsd.axd" />
    <link type="application/rdf+xml" rel="meta" title="SIOC" href="http://francisdotbio.com/indigo/sioc.axd" />
    <link type="application/apml+xml" rel="meta" title="APML" href="http://francisdotbio.com/indigo/apml.axd" />
    <link type="application/rdf+xml" rel="meta" title="FOAF" href="http://francisdotbio.com/indigo/foaf.axd" />
    <link type="application/rss+xml" rel="alternate" title="Indigo Theme (RSS)" href="http://francisdotbio.com/indigo/syndication.axd" />
    <link type="application/atom+xml" rel="alternate" title="Indigo Theme (ATOM)" href="http://francisdotbio.com/indigo/syndication.axd?format=atom" />
    <link type="application/opensearchdescription+xml" rel="search" title="Indigo Theme" href="http://francisdotbio.com/indigo/opensearch.axd" />
    <link href="/Content/Auto/Global.css" rel="stylesheet" type="text/css" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="../Custom/Themes/indigo/src/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../Custom/Themes/indigo/src/css/font-awesome.min.css" rel="stylesheet" />
    <link href="../Custom/Themes/indigo/src/css/styles.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet" />
    <script type="text/javascript" src="/indigo/en-us.res.axd"></script>
    <script type="text/javascript" src="/Scripts/Auto/01-jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="/Scripts/Auto/02-jquery.cookie.js"></script>
    <script type="text/javascript" src="/Scripts/Auto/04-jquery-jtemplates.js"></script>
    <script type="text/javascript" src="/Scripts/Auto/05-json2.min.js"></script>
    <script type="text/javascript" src="/Scripts/Auto/blog.js"></script>
    <script>var slideItems = "3"</script>
    <style>
        .blog-header {
            background: #6610f2;
            background: -webkit-linear-gradient(to right, #6610f2, #dd1042);
            background: linear-gradient(to right, #6610f2,#dd1042);
        }
    </style>

    <meta name="description" content="Indigo Theme - Online Demo - Online Demo" />
    <meta name="keywords" content="Camping,Mountains,Road Trip,Surfing,Travel" />
    <meta name="author" content="My name" />
    <!-- Start custom code -->
    <meta name="robots" content="noindex,nofollow">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-108888834-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-108888834-2');
    </script>
    <!-- End custom code -->
    <title>
        Indigo Theme | Online Demo
    </title>
</head>
<body class="ltr">
    <form method="post" action="/indigo/" id="aspnetForm">
        <div class="aspNetHidden">
            <input type="hidden" name="__EVENTTARGET" id="__EVENTTARGET" value="" />
            <input type="hidden" name="__EVENTARGUMENT" id="__EVENTARGUMENT" value="" />
            <input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE" value="QOPIuZLoGD6bU4SCIQB2SUyOdeC0HBtmBrM4vgSpH/EbQyy6MuAKiYLFpL1F25kLGBB/Ue7XSRO3MaMVRQt8uJkH28o=" />
        </div>

        <script type="text/javascript">
            //<![CDATA[
            var theForm = document.forms['aspnetForm'];
            if (!theForm) {
                theForm = document.aspnetForm;
            }
            function __doPostBack(eventTarget, eventArgument) {
                if (!theForm.onsubmit || (theForm.onsubmit() != false)) {
                    theForm.__EVENTTARGET.value = eventTarget;
                    theForm.__EVENTARGUMENT.value = eventArgument;
                    theForm.submit();
                }
            }
            //]]>
        </script>


        <script src="/WebResource.axd?d=pynGkmcFUV13He1Qd6_TZKFmBG-AUY7YwSX-Eh_-So8UKa0fIVRDpGlQdJn4r3q4SNLVEw2&amp;t=636577196940000000" type="text/javascript"></script>



        <!-- START HEADER -->
        <header class="blog-header">
            <div class="container">
                <nav class="d-flex">
                    <h1 class="blog-logo my-auto">
                        <a href="http://francisdotbio.com/indigo/"><img src="/Custom/Themes/indigo/src/img/logo.png" alt="Indigo Theme" /></a>
                    </h1>
                    <ul class="blog-nav ml-lg-auto d-lg-block d-lg-flex my-lg-auto">
                        <li><a href="http://francisdotbio.com/indigo/">首页</a></li>
                        <li>
                            <a href="/indigo/page/example-page">Example page</a>

                            <ul>

                                <li>
                                    <a href="/indigo/page/this-is-just-a-sub-menu-1">This is just a sub menu 1</a>
                                </li>

                                <li>
                                    <a href="/indigo/page/this-is-just-a-sub-menu-2">This is just a sub menu 2</a>
                                </li>

                                <li>
                                    <a href="/indigo/page/this-is-just-a-sub-menu-3">This is just a sub menu 3</a>
                                </li>

                                <li>
                                    <a href="/indigo/page/this-is-just-a-sub-menu-4">This is just a sub menu 4</a>
                                </li>

                            </ul>


                        </li>

                        <li><a href="http://francisdotbio.com/indigo/archive">归档</a></li>
                        <li><a href="http://francisdotbio.com/indigo/contact">联系</a></li>
                    </ul>
                    <button class="blog-nav-toggle hamburger d-block d-lg-none ml-auto my-auto hamburger--squeeze" type="button">
                        <span class="hamburger-box">
                            <span class="hamburger-inner"></span>
                        </span>
                    </button>
                </nav>
            </div>
        </header>
        <!-- END HEADER -->
        <!-- START SLIDER -->
        <div id="widgetzone_slider" class="widgetzone">
            <div class="Widget widget postlist">
                <h4 class="WidgetHeader widget-header">PostList</h4>
                <div class="WidgetContent widget-content">
                    <ul>
                        <li class="post-item-list">
                            <a href="/indigo/post/11">
                                <img src="/indigo/image.axd?picture=/05.jpg" class="post-item-img" alt="Post image" />
                                <h5 class="post-item-title">A travel photographer&#39;s tips on getting the best travel pics</h5>
                                <p class="post-item-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec rutrum libero vel orci sagittis portt</p>
                                <span class="post-item-date">十月 28, 2017</span>
                            </a>
                        </li>
                        <li class="post-item-list">
                            <a href="/indigo/post/09">
                                <img src="/indigo/image.axd?picture=/09.jpg" class="post-item-img" alt="Post image" />
                                <h5 class="post-item-title">How to organize the ultimate group camping trip</h5>
                                <p class="post-item-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec rutrum libero vel orci sagittis portt</p>
                                <span class="post-item-date">十月 27, 2017</span>
                            </a>
                        </li>
                        <li class="post-item-list">
                            <a href="/indigo/post/10">
                                <img src="/indigo/image.axd?picture=/07.jpg" class="post-item-img" alt="Post image" />
                                <h5 class="post-item-title">What are the dangers of the amazon rain forest</h5>
                                <p class="post-item-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec rutrum libero vel orci sagittis portt</p>
                                <span class="post-item-date">十月 26, 2017</span>
                            </a>
                        </li>
                        <li class="post-item-list">
                            <a href="/indigo/post/12">
                                <img src="/indigo/image.axd?picture=/08.jpg" class="post-item-img" alt="Post image" />
                                <h5 class="post-item-title">Tips and tricks for cooking on a camping trip</h5>
                                <p class="post-item-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec rutrum libero vel orci sagittis portt</p>
                                <span class="post-item-date">十月 25, 2017</span>
                            </a>
                        </li>
                        <li class="post-item-list">
                            <a href="/indigo/post/08">
                                <img src="/indigo/image.axd?picture=/12.jpg" class="post-item-img" alt="Post image" />
                                <h5 class="post-item-title">10 Reasons to travel by car</h5>
                                <p class="post-item-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec rutrum libero vel orci sagittis portt</p>
                                <span class="post-item-date">十月 24, 2017</span>
                            </a>
                        </li>
                        <li class="post-item-list">
                            <a href="/indigo/post/07">
                                <img src="/indigo/image.axd?picture=/11.jpg" class="post-item-img" alt="Post image" />
                                <h5 class="post-item-title">Compare most popular cruise ships</h5>
                                <p class="post-item-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec rutrum libero vel orci sagittis portt</p>
                                <span class="post-item-date">十月 23, 2017</span>
                            </a>
                        </li>
                        <li class="post-item-list">
                            <a href="/indigo/post/06">
                                <img src="/indigo/image.axd?picture=/10.jpg" class="post-item-img" alt="Post image" />
                                <h5 class="post-item-title">The best advanced surfing tips and techniques</h5>
                                <p class="post-item-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec rutrum libero vel orci sagittis portt</p>
                                <span class="post-item-date">十月 22, 2017</span>
                            </a>
                        </li>
                        <li class="post-item-list">
                            <a href="/indigo/post/05">
                                <img src="/indigo/image.axd?picture=/06.jpg" class="post-item-img" alt="Post image" />
                                <h5 class="post-item-title">24 Best things to do in New York City</h5>
                                <p class="post-item-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec rutrum libero vel orci sagittis portt</p>
                                <span class="post-item-date">十月 21, 2017</span>
                            </a>
                        </li>
                        <li class="post-item-list">
                            <a href="/indigo/post/04">
                                <img src="/indigo/image.axd?picture=/02.jpg" class="post-item-img" alt="Post image" />
                                <h5 class="post-item-title">20 Books to read while traveling</h5>
                                <p class="post-item-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec rutrum libero vel orci sagittis portt</p>
                                <span class="post-item-date">十月 20, 2017</span>
                            </a>
                        </li>
                        <li class="post-item-list">
                            <a href="/indigo/post/03">
                                <img src="/indigo/image.axd?picture=/04.jpg" class="post-item-img" alt="Post image" />
                                <h5 class="post-item-title">Travel ideas for an october anniversary trip</h5>
                                <p class="post-item-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec rutrum libero vel orci sagittis portt</p>
                                <span class="post-item-date">十月 19, 2017</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- END SLIDER -->
        <!-- START CONTENT -->
        <div class="container blog-body">
            <div class="row no-gutters">
                <section class="col-lg-8 blog-content">

                    <div id="ctl00_cphBody_divError"></div>
                    <div id="ctl00_cphBody_PostList1_posts" class="posts">
                        <article class="post post-home" id="post0">
                            <a class="post-cover" href="/indigo/post/11"><img src="/indigo/image.axd?picture=/05.jpg" alt="A travel photographer&#39;s tips on getting the best travel pics"></a>
                            <header class="post-header">
                                <h2 class="post-title"><a class="post-link" href="/indigo/post/11">A travel photographer&#39;s tips on getting the best travel pics</a></h2>
                                <div class="post-meta">
                                    <span class="post-author">By <a href="http://francisdotbio.com/indigo/author/Jane">Jane</a></span>
                                    <span class="post-date">/ 10月 28, 2017</span>
                                    / <span class="post-category"><a href="/indigo/category/Mountains">Mountains</a>, <a href="/indigo/category/Road-Trip">Road Trip</a>, <a href="/indigo/category/Surfing">Surfing</a></span>
                                </div>
                            </header>
                            <section class="post-body">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec rutrum libero vel orci sagittis portt...</p>
                                <a class="post-more btn btn-sm btn-outline-primary" href="/indigo/post/11">Read More</a>
                            </section>
                        </article>

                        <article class="post post-home" id="post1">
                            <a class="post-cover" href="/indigo/post/09"><img src="/indigo/image.axd?picture=/09.jpg" alt="How to organize the ultimate group camping trip"></a>
                            <header class="post-header">
                                <h2 class="post-title"><a class="post-link" href="/indigo/post/09">How to organize the ultimate group camping trip</a></h2>
                                <div class="post-meta">
                                    <span class="post-author">By <a href="http://francisdotbio.com/indigo/author/Jane">Jane</a></span>
                                    <span class="post-date">/ 10月 27, 2017</span>
                                    / <span class="post-category"><a href="/indigo/category/Camping">Camping</a>, <a href="/indigo/category/Road-Trip">Road Trip</a>, <a href="/indigo/category/Travel">Travel</a></span>
                                </div>
                            </header>
                            <section class="post-body">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec rutrum libero vel orci sagittis portt...</p>
                                <a class="post-more btn btn-sm btn-outline-primary" href="/indigo/post/09">Read More</a>
                            </section>
                        </article>

                        <article class="post post-home" id="post2">
                            <a class="post-cover" href="/indigo/post/10"><img src="/indigo/image.axd?picture=/07.jpg" alt="What are the dangers of the amazon rain forest"></a>
                            <header class="post-header">
                                <h2 class="post-title"><a class="post-link" href="/indigo/post/10">What are the dangers of the amazon rain forest</a></h2>
                                <div class="post-meta">
                                    <span class="post-author">By <a href="http://francisdotbio.com/indigo/author/john">John</a></span>
                                    <span class="post-date">/ 10月 26, 2017</span>
                                    / <span class="post-category"><a href="/indigo/category/Camping">Camping</a>, <a href="/indigo/category/Travel">Travel</a></span>
                                </div>
                            </header>
                            <section class="post-body">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec rutrum libero vel orci sagittis portt...</p>
                                <a class="post-more btn btn-sm btn-outline-primary" href="/indigo/post/10">Read More</a>
                            </section>
                        </article>

                        <article class="post post-home" id="post3">
                            <a class="post-cover" href="/indigo/post/12"><img src="/indigo/image.axd?picture=/08.jpg" alt="Tips and tricks for cooking on a camping trip"></a>
                            <header class="post-header">
                                <h2 class="post-title"><a class="post-link" href="/indigo/post/12">Tips and tricks for cooking on a camping trip</a></h2>
                                <div class="post-meta">
                                    <span class="post-author">By <a href="http://francisdotbio.com/indigo/author/Jane">Jane</a></span>
                                    <span class="post-date">/ 10月 25, 2017</span>
                                    / <span class="post-category"><a href="/indigo/category/Camping">Camping</a>, <a href="/indigo/category/Road-Trip">Road Trip</a></span>
                                </div>
                            </header>
                            <section class="post-body">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec rutrum libero vel orci sagittis portt...</p>
                                <a class="post-more btn btn-sm btn-outline-primary" href="/indigo/post/12">Read More</a>
                            </section>
                        </article>

                        <article class="post post-home" id="post4">
                            <a class="post-cover" href="/indigo/post/08"><img src="/indigo/image.axd?picture=/12.jpg" alt="10 Reasons to travel by car"></a>
                            <header class="post-header">
                                <h2 class="post-title"><a class="post-link" href="/indigo/post/08">10 Reasons to travel by car</a></h2>
                                <div class="post-meta">
                                    <span class="post-author">By <a href="http://francisdotbio.com/indigo/author/john">John</a></span>
                                    <span class="post-date">/ 10月 24, 2017</span>
                                    / <span class="post-category"><a href="/indigo/category/Camping">Camping</a>, <a href="/indigo/category/Road-Trip">Road Trip</a>, <a href="/indigo/category/Surfing">Surfing</a>, <a href="/indigo/category/Travel">Travel</a></span>
                                </div>
                            </header>
                            <section class="post-body">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec rutrum libero vel orci sagittis portt...</p>
                                <a class="post-more btn btn-sm btn-outline-primary" href="/indigo/post/08">Read More</a>
                            </section>
                        </article>

                        <article class="post post-home" id="post5">
                            <a class="post-cover" href="/indigo/post/07"><img src="/indigo/image.axd?picture=/11.jpg" alt="Compare most popular cruise ships"></a>
                            <header class="post-header">
                                <h2 class="post-title"><a class="post-link" href="/indigo/post/07">Compare most popular cruise ships</a></h2>
                                <div class="post-meta">
                                    <span class="post-author">By <a href="http://francisdotbio.com/indigo/author/jane">Jane</a></span>
                                    <span class="post-date">/ 10月 23, 2017</span>
                                    / <span class="post-category"><a href="/indigo/category/Travel">Travel</a></span>
                                </div>
                            </header>
                            <section class="post-body">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec rutrum libero vel orci sagittis portt...</p>
                                <a class="post-more btn btn-sm btn-outline-primary" href="/indigo/post/07">Read More</a>
                            </section>
                        </article>
                    </div>

                    <div id="postPaging" style="display: none">
                        <a id="ctl00_cphBody_PostList1_hlPrev" style="float:left">&lt;&lt; 之前的文章</a>
                        <a id="ctl00_cphBody_PostList1_hlNext" style="float:right">之后的文章 &gt;&gt;</a>
                    </div>

                    <div style="clear:both; display:block">
                        <ul id="PostPager"><li class="PagerLinkDisabled">之后的文章</li><li class="PagerLinkCurrent">1</li><li class="PagerLink"><a href="/indigo/?page=2">2</a></li><li class="PagerLink"><a href="/indigo/?page=2">之前的文章</a></li></ul>
                    </div>


                </section>
                <aside class="col-lg-4 blog-sidebar">
                    <div id="widgetzone_Sidebar" class="widgetzone">
                        <div class="Widget widget search">
                            <div class="WidgetContent widget-content">
                                <div id="searchbox">
                                    <input type="text" id="txt-d8e7d39f-d509-4106-b854-1c21195e7d8a" placeholder="搜索..." onkeypress="if (event.keyCode == 13) { BlogEngine.search('/indigo/', 'txt-d8e7d39f-d509-4106-b854-1c21195e7d8a'); return false; }" />
                                    <input type="button" onkeypress="BlogEngine.search('/indigo/', 'txt-d8e7d39f-d509-4106-b854-1c21195e7d8a');" onclick="BlogEngine.search('/indigo/', 'txt-d8e7d39f-d509-4106-b854-1c21195e7d8a');" id="searchbutton" value="Search" />
                                </div>
                            </div>
                        </div>
                        <div class="Widget widget categorylist">
                            <h4 class="WidgetHeader widget-header">Categories</h4>
                            <div class="WidgetContent widget-content">
                                <ul id="categorylist">
                                    <li>
                                        <a rel="nofollow" href="/indigo/category/feed/Camping">
                                            <img class="rssButton" alt="RSS feed for SubBlog" src="/Content/images/blog/rssButton.png">
                                        </a>
                                        <a title="Category: Camping" href="/indigo/category/Camping">
                                            Camping
                                        </a>
                                    </li>
                                    <li>
                                        <a rel="nofollow" href="/indigo/category/feed/Mountains">
                                            <img class="rssButton" alt="RSS feed for SubBlog" src="/Content/images/blog/rssButton.png">
                                        </a>
                                        <a title="Category: Mountains" href="/indigo/category/Mountains">
                                            Mountains
                                        </a>
                                    </li>
                                    <li>
                                        <a rel="nofollow" href="/indigo/category/feed/Road-Trip">
                                            <img class="rssButton" alt="RSS feed for SubBlog" src="/Content/images/blog/rssButton.png">
                                        </a>
                                        <a title="Category: Road Trip" href="/indigo/category/Road-Trip">
                                            Road Trip
                                        </a>
                                    </li>
                                    <li>
                                        <a rel="nofollow" href="/indigo/category/feed/Surfing">
                                            <img class="rssButton" alt="RSS feed for SubBlog" src="/Content/images/blog/rssButton.png">
                                        </a>
                                        <a title="Category: Surfing" href="/indigo/category/Surfing">
                                            Surfing
                                        </a>
                                    </li>
                                    <li>
                                        <a rel="nofollow" href="/indigo/category/feed/Travel">
                                            <img class="rssButton" alt="RSS feed for SubBlog" src="/Content/images/blog/rssButton.png">
                                        </a>
                                        <a title="Category: Travel" href="/indigo/category/Travel">
                                            Travel
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="Widget widget postlist">
                            <h4 class="WidgetHeader widget-header">Recent Articles</h4>
                            <div class="WidgetContent widget-content">
                                <ul>
                                    <li class="post-item-list">
                                        <a href="/indigo/post/11">
                                            <h5 class="post-item-title">A travel photographer&#39;s tips on getting the best travel pics</h5>
                                        </a>
                                    </li>
                                    <li class="post-item-list">
                                        <a href="/indigo/post/09">
                                            <h5 class="post-item-title">How to organize the ultimate group camping trip</h5>
                                        </a>
                                    </li>
                                    <li class="post-item-list">
                                        <a href="/indigo/post/10">
                                            <h5 class="post-item-title">What are the dangers of the amazon rain forest</h5>
                                        </a>
                                    </li>
                                    <li class="post-item-list">
                                        <a href="/indigo/post/12">
                                            <h5 class="post-item-title">Tips and tricks for cooking on a camping trip</h5>
                                        </a>
                                    </li>
                                    <li class="post-item-list">
                                        <a href="/indigo/post/08">
                                            <h5 class="post-item-title">10 Reasons to travel by car</h5>
                                        </a>
                                    </li>
                                    <li class="post-item-list">
                                        <a href="/indigo/post/07">
                                            <h5 class="post-item-title">Compare most popular cruise ships</h5>
                                        </a>
                                    </li>
                                    <li class="post-item-list">
                                        <a href="/indigo/post/06">
                                            <h5 class="post-item-title">The best advanced surfing tips and techniques</h5>
                                        </a>
                                    </li>
                                    <li class="post-item-list">
                                        <a href="/indigo/post/05">
                                            <h5 class="post-item-title">24 Best things to do in New York City</h5>
                                        </a>
                                    </li>
                                    <li class="post-item-list">
                                        <a href="/indigo/post/04">
                                            <h5 class="post-item-title">20 Books to read while traveling</h5>
                                        </a>
                                    </li>
                                    <li class="post-item-list">
                                        <a href="/indigo/post/03">
                                            <h5 class="post-item-title">Travel ideas for an october anniversary trip</h5>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="Widget widget newsletter">
                            <h4 class="WidgetHeader widget-header">Newsletter</h4>
                            <div class="WidgetContent widget-content" style="padding: 20px">
                                <div id="newsletterform">
                                    <p>当有新文章发表时通知我.</p>
                                    <label style="font-weight:bold" for="txtNewsletterEmail">输入您的 e-mail</label>
                                    <input type="text" style="width:98%;" class="form-control" id="txtNewsletterEmail" name="txtNewsletterEmail" />
                                    <div style="text-align:center; margin-top: 10px">
                                        <input type="submit" class="btn btn-primary" id="btnSave" name="btnSave" value="通知我" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="Widget widget tagcloud">
                            <h4 class="WidgetHeader widget-header">Tags</h4>
                            <div class="WidgetContent widget-content">
                                <ul>
                                    <li><a href="http://francisdotbio.com/indigo/?tag=Aniversary" class="smallest" title="Tag: Aniversary">Aniversary</a> </li>
                                    <li><a href="http://francisdotbio.com/indigo/?tag=Best" class="smallest" title="Tag: Best">Best</a> </li>
                                    <li><a href="http://francisdotbio.com/indigo/?tag=camping" class="medium" title="Tag: camping">camping</a> </li>
                                    <li><a href="http://francisdotbio.com/indigo/?tag=Car" class="smallest" title="Tag: Car">Car</a> </li>
                                    <li><a href="http://francisdotbio.com/indigo/?tag=cooking" class="smallest" title="Tag: cooking">cooking</a> </li>
                                    <li><a href="http://francisdotbio.com/indigo/?tag=Cruise" class="smallest" title="Tag: Cruise">Cruise</a> </li>
                                    <li><a href="http://francisdotbio.com/indigo/?tag=group" class="smallest" title="Tag: group">group</a> </li>
                                    <li><a href="http://francisdotbio.com/indigo/?tag=New+York" class="smallest" title="Tag: New York">New York</a> </li>
                                    <li><a href="http://francisdotbio.com/indigo/?tag=organize" class="smallest" title="Tag: organize">organize</a> </li>
                                    <li><a href="http://francisdotbio.com/indigo/?tag=photography" class="smallest" title="Tag: photography">photography</a> </li>
                                    <li><a href="http://francisdotbio.com/indigo/?tag=Reading" class="smallest" title="Tag: Reading">Reading</a> </li>
                                    <li><a href="http://francisdotbio.com/indigo/?tag=road" class="smallest" title="Tag: road">road</a> </li>
                                    <li><a href="http://francisdotbio.com/indigo/?tag=rv" class="smallest" title="Tag: rv">rv</a> </li>
                                    <li><a href="http://francisdotbio.com/indigo/?tag=Ships" class="smallest" title="Tag: Ships">Ships</a> </li>
                                    <li><a href="http://francisdotbio.com/indigo/?tag=Surfing" class="smallest" title="Tag: Surfing">Surfing</a> </li>
                                    <li><a href="http://francisdotbio.com/indigo/?tag=tips" class="smallest" title="Tag: tips">tips</a> </li>
                                    <li><a href="http://francisdotbio.com/indigo/?tag=Travel" class="biggest" title="Tag: Travel">Travel</a> </li>
                                    <li><a href="http://francisdotbio.com/indigo/?tag=tricks" class="smallest" title="Tag: tricks">tricks</a> </li>
                                    <li><a href="http://francisdotbio.com/indigo/?tag=Trip" class="small" title="Tag: Trip">Trip</a> </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </aside>
            </div>
        </div>
        <!-- END CONTENT -->
        <!-- START FOOTER -->
        <footer class="blog-footer">
            <div class="container">
                <div class="blog-footer-end d-lg-flex text-center text-lg-left ">
                    <div class="blog-copyright my-lg-auto mb-3 mb-lg-0">
                        <a class="blog-footer-logo" href="http://francisdotbio.com/indigo/">
                            <img src="/Custom/Themes/indigo/src/img/logo.png" alt="Indigo Theme" />
                        </a>
                        <p>
                            <span>&copy; 2018</span>
                            <span>Powered by <a href="http://dotnetblogengine.net/" target="_blank" title="BlogEngine 3.3.5.0">BlogEngine</a></span>
                            <span>Designed by <a href="http://francis.bio/blogengine-themes/" rel="nofollow" target="_blank">Francis</a></span>
                        </p>
                    </div>
                    <ul class="nav blog-social ml-lg-auto justify-content-center">
                        <li><a data-toggle="tooltip" title="follow on Facebook" target="_blank" href="#" rel="external nofollow"><i class="fa fa-facebook"></i></a></li>
                        <li><a data-toggle="tooltip" title="follow on Twitter" target="_blank" href="#" rel="external nofollow"><i class="fa fa-twitter"></i></a></li>
                        <li><a data-toggle="tooltip" title="follow on Google +" target="_blank" href="#" rel="external nofollow"><i class="fa fa-google-plus"></i></a></li>
                        <li><a data-toggle="tooltip" title="follow on Linkedin" target="_blank" href="#" rel="external nofollow"><i class="fa fa-linkedin"></i></a></li>
                        <li><a data-toggle="tooltip" title="follow on Instagram" target="_blank" href="#" rel="external nofollow"><i class="fa fa-instagram"></i></a></li>
                        <li><a data-toggle="tooltip" title="follow on YouTube" target="_blank" href="" rel="external nofollow"><i class="fa fa-youtube"></i></a></li>
                        <li><a data-toggle="tooltip" title="follow on GitHub" target="_blank" href="" rel="external nofollow"><i class="fa fa-git"></i></a></li>
                        <li><a data-toggle="tooltip" title="follow on Pinterest" target="_blank" href="" rel="external nofollow"><i class="fa fa-pinterest"></i></a></li>
                        <li><a data-toggle="tooltip" title="Back up" id="back-up" target="_blank" href="#"><i class="fa fa-chevron-up"></i></a></li>
                    </ul>
                </div>
            </div>
        </footer>
        <!-- END FOOTER -->


        <script src="/Custom/Themes/indigo/src/js/popper.min.js"></script>
        <script src="/Custom/Themes/indigo/src/js/bootstrap.min.js"></script>
        <script src="/Custom/Themes/indigo/src/js/owl.carousel.min.js"></script>
        <script src="/Custom/Themes/indigo/src/js/custom.js"></script>
        <script type="application/ld+json">
            {
            "@context": "http://schema.org",
            "@type": "WebSite",
            "url": "http://francisdotbio.com/indigo/",
            "potentialAction": {
            "@type": "SearchAction",
            "target": "http://francisdotbio.com/indigo/search?q={search_term_string}",
            "query-input": "required name=search_term_string"
            }
            }
        </script>

        <div class="aspNetHidden">

            <input type="hidden" name="__VIEWSTATEGENERATOR" id="__VIEWSTATEGENERATOR" value="CA0B0334" />
        </div>

        <script type="text/javascript">
            //<![CDATA[

            WebForm_InitCallback();//]]>
        </script>
    </form>
</body>
</html>
